LightService.Monitor/Service References/LightControlReference/ServiceControl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceControl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/LightControl/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/LightControl/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/LightControl/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LightService.Common" />
      <xsd:import schemaLocation="http://localhost:8733/LightControl/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAstoriaLightServiceControl_UpdateControlledObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateControlledObjects" />
  </wsdl:message>
  <wsdl:message name="IAstoriaLightServiceControl_UpdateControlledObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateControlledObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IAstoriaLightServiceControl_GetControlledObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetControlledObjects" />
  </wsdl:message>
  <wsdl:message name="IAstoriaLightServiceControl_GetControlledObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetControlledObjectsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAstoriaLightServiceControl">
    <wsdl:operation name="UpdateControlledObjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IAstoriaLightServiceControl/UpdateControlledObjects" message="tns:IAstoriaLightServiceControl_UpdateControlledObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAstoriaLightServiceControl/UpdateControlledObjectsResponse" message="tns:IAstoriaLightServiceControl_UpdateControlledObjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetControlledObjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IAstoriaLightServiceControl/GetControlledObjects" message="tns:IAstoriaLightServiceControl_GetControlledObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAstoriaLightServiceControl/GetControlledObjectsResponse" message="tns:IAstoriaLightServiceControl_GetControlledObjects_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAstoriaLightServiceControl" type="tns:IAstoriaLightServiceControl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateControlledObjects">
      <soap:operation soapAction="http://tempuri.org/IAstoriaLightServiceControl/UpdateControlledObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetControlledObjects">
      <soap:operation soapAction="http://tempuri.org/IAstoriaLightServiceControl/GetControlledObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceControl">
    <wsdl:port name="BasicHttpBinding_IAstoriaLightServiceControl" binding="tns:BasicHttpBinding_IAstoriaLightServiceControl">
      <soap:address location="http://localhost:8733/LightControl/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>